BASE_IN_USE="mongo"

MONGO_BD_IN_USE=MONGO
MONGO_URL=localhost
MONGO_PORT=27017
MONGO_DB=miobra_db
# Si usas Atlas, pon MONGO_BD_IN_USE=ATLAS y define MONGO_ATLAS_URI:
# MONGO_BD_IN_USE=ATLAS
# MONGO_ATLAS_URI=mongodb+srv://<user>:<password>@cluster0.xxxxx.mongodb.net/miobra_db?retryWrites=true&w=majority

#DATABASE_URL="postgresql://postgres:SoyManya100!@db.tqtttzwvaabsornjjyle.supabase.co:5432/postgres"

#clave de JWT
PASS_JWT=miclavesupersecreta

# redis
#REDIS_URI=redis://default:jdJFvrSxJNrWjJ0LTDv0s3i4h1rSWWWF@redis-19165.c258.us-east-1-4.ec2.redns.redis-cloud.com:19165
# Cloudinary
#CLOUD_NAME=dfwi08w47
#CLOUD_API_KEY=126831471756183
#CLOUD_API_SECRET=zo_qxW3KUDz2e6WKw51xjjiBQw4
# REDIS_URI=redis://localhost:6379

# MONGO_LOCAL=baseMongoLocal

# MONGO_ATLAS=baseMongoAtlas

#mongo Atlas
#MONGO_ATLAS_USER=Obligatorio_user
#MONGO_ATLAS_PASS=0xsSNca0mTZrXsfo

#MONGO_BD_IN_USE=atlas

#MONGO_ATLAS_URI=mongodb+srv://Obligatorio_user:0xsSNca0mTZrXsfo@obligatoriodfs.zt9cq1p.mongodb.net/ObligatorioDB?retryWrites=true&w=majority&appName=ObligatorioDFS


# mongo local
#MONGO_URL=localhost
#MONGO_PORT=27017
#MONGO_DB=ObligatorioDB


